/*
 * ==============================================
 * Skin for oXygen generated WebHelp.
 * ==============================================
 */


/*
 * ------------------------------------------------------------------
 *  
 * Fonts.
 *  
 */

 /*regular version*/
 @font-face {
  font-family: "NotoSans-Regular";
  src: url(../fonts/NotoSans-Regular.eot?#iefix) format('embedded-opentype');
}

@font-face {
 font-family: "Montserrat-Regular";
 src: url(../fonts/Montserrat-Regular.ttf) format('truetype');
}

/*bold version*/
@font-face {
  font-family: "NotoSans-Bold";
  src: url(../fonts/NotoSans-Bold.eot?#iefix) format('embedded-opentype');
  font-weight: bold;
}

@font-face {
font-family: "Montserrat-Bold";
src: url(../fonts/Montserrat-Bold.ttf) format('truetype');
}

body{
  font-family: 'NotoSans-Regular', Arial, sans-serif;
  font-size: 14px;
}


/*
* ------------------------------------------------------------------
*  
* Fight with bootstrap
*  
*/
.navbar-brand{
  height:auto;
}
.navbar {
  border:none;
  border-radius:0;
  margin:0;
}


/*
* ------------------------------------------------------------------
*  
* Publication titles
*  
*/
/*.wh_publication_title > a{
   font-size: 1.5em;
}*/


.wh_topic_content .title.topictitle1 {
font-size: 32px;
line-height: 1.1em;
font-weight: bold;
font-family: Montserrat-Bold, Arial, sans-serif;
color: #4D4D4D;
}

.topictitle2,
.sectiontitle {
border-left: none;
padding-bottom: 0.5em;
font-size: 20px;
font-family: NotoSans-Bold, Arial, sans-serif;
font-style: normal;
margin-left: 0em;
}

.topictitle3,
h3.sectiontitle {
border-left: none;
padding-bottom: 0.5em;
font-size: 16px;
font-family: NotoSans-Bold, Arial, sans-serif;
margin-left: 0em;
border-top: none;
text-decoration: none;
font-style: normal;
}

.topictitle4,
h4.sectiontitle {
border-left: none;
padding-top: 1em;
padding-bottom: 0.5em;
font-size: 13px;
font-family: NotoSans-Bold, Arial, sans-serif;
margin-left: 0em;
border-top: none;
text-decoration: none;
}

.topictitle5,
h5.sectiontitle {
border-left: none;
padding-top: 0.75em;
padding-bottom: 0.5em;
font-size: 13px;
font-family: NotoSans-Bold, Arial, sans-serif;
margin-left: 0em;
border-top: none;
text-decoration: underline;
}

.topictitle2,
.topictitle3,
.topictitle4,
.topictitle5,
.topictitle6 {
color: #4D4D4D;
padding-left: 0em;
font-weight: bold;
}

.nested1 {
border-top: 1px solid #bebebe;
padding-top: 20px;
margin-top: 30px;
}

table > caption,
.topic > .title,
.sectiontitle:not(.tasklabel),
.wh_term_group > .wh_first_letter {
  padding-left: 0 !important;
}


.wh_publication_title {
   display: none;
}

#wh_publication_toc .wh_logo_and_publication_title_container {
  padding-top: 15px;
  position: fixed;
  width: inherit;
  background: inherit;
  height: 70px;
  margin-left: -20px;
  padding-left: 30px;
  /*12/28*/
  z-index: 1;
}



.wh_logo_and_publication_title_container {
  height: 60px;
}

.wh_logo_and_publication_title {
  padding-top: 15px;
  padding-left: 15px;
  display: block;
  text-align: left;
}

.wh_logo_and_publication_title > .d-none {
  display: block !important;
}

.wh_version {
  text-align: left;
  font-size: 12px;
  margin-top: 2px;
  font-family: "NotoSans-Bold", Arial, sans-serif;
  font-weight: bold;
}

.wh_logo {
  display:flex;
}

.wh_logo img[src*="st"], .wh_logo img[src*="matrix"], .wh_logo img[src*="hw"] {
  max-width: 100%;
  height:32px;
}

@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .wh_logo img {
      max-height:50px;
      max-width:18em;
  }
}

.index_title {
font-size: 72px !important;
}

.more_resources_title {
font-size: 28px;
line-height: 32px;
font-weight: bold;
font-family: Montserrat;
color: #4D4D4D;
margin-top: 3em !important ;
margin-bottom: 1em !important;

}


/*
* ------------------------------------------------------------------
*  
* Header
*  
*/

.wh_header {
background: white;
color: #4D4D4D;
}

.wh_search_page .wh_header,
.wh_main_page .wh_header {
 padding-bottom: 2em;
}

.active_header {
  -webkit-box-shadow: 0 6px 6px -6px #8A8A8A;
      -moz-box-shadow: 0 6px 6px -6px #8A8A8A;
          box-shadow: 0 6px 6px -6px #8A8A8A;
}


@media only screen and (max-width: 767px) {
  .wh_header {
      position: static;
  }

  .wh_breadcrumb ol {
  padding-left: 20px !important;

  }

  .wh_tools {
  padding-right: 2.5em;

  }  
}

@media only screen and (max-width: 1620px) {
  .wh_header {
      padding-left: 0px;
  }


  .wh_breadcrumb ol {
      padding-left: 15px;

  }     
}

@media only screen and (min-width: 1620px) {
  .wh_tools {
      padding-right: 5px;
      padding-left: 30px;
  }

  .wh_indexterms_link a::before {
    left: 15px !important;
  }
}



/*
* ------------------------------------------------------------------
*  
* Menu
*  
*/
.wh_top_menu {
  font-size: 1.1em;
  margin: .4em 0;
}

/* The submenus */
.wh_top_menu ul ul {
  background-color: #f4f4f4;
}
.wh_top_menu ul li:hover,
.wh_top_menu.activated-on-click ul li.active {
  background-color: #f4f4f4;
}
.wh_top_menu ul ul li a:hover {
  background: #e4e4e4;
}
.wh_top_menu ul ul li {
  border-top-color: #e4e4e4;
}

.wh_top_menu:not(.activated-on-click) ul:hover li,
.wh_top_menu:not(.activated-on-click) ul li:hover {
  /* WH-2521 Change the background color imediatelly when the current menu item (li) or other menu item is hovered. */
  transition: none; 
}

.wh_top_menu:not(.activated-on-click) ul li {
  /* WH-2521 Delay the background color change on hover off. */
  transition: background-color 0.2s 1s;
}

/*
* ------------------------------------------------------------------
*  
* Link to the index.
* 
*/

.wh_indexterms_link a::before {
text-align: center;
color: #1d2e38;
bottom: 0.28em;
font-size: 1.8em;
top: -2px;
left: 15px;
}

/*.wh_indexterms_link a:before{
color: #4D4D4D;
}*/

.wh_indexterms_link a span{
  display:none;
}

@media only screen and (max-width: 767px) {
  .wh_indexterms_link a:before{
      bottom: 0;
  }
}



/*
* ------------------------------------------------------------------
*  
* Breadcrumb
*  
*/

.wh_breadcrumb {
  padding-top: 10px;
}

.wh_breadcrumb ol {
  background-color: white;
  color: #4D4D4D;
}

.wh_breadcrumb ol a {
  color:inherit;
}
.wh_breadcrumb ol .active {
  font-weight: bold;
  color: inherit;
}

@media only screen and (max-width: 767px) {
  .breadcrumb-sticky {
      background-color: white;
      position: static;
  }

  .wh_right_tools {
      padding-left: 20px;
  }
}


/*
* ------------------------------------------------------------------
*  
* Tools and navigation
* 
*/

.wh_right_tools {
  padding-top: 10px;
  font-size: 16px;
}

.wh_tools{
  background-color: white;
  margin: 1em 0 2em;
  transition: box-shadow 0.15s linear;
  margin-top: -2px !important;
  padding-bottom: 5px;
}

.wh_print_link button,
.webhelp_expand_collapse_sections,
.wh_hide_highlight,
.oxy-icon-pdf-link,
.wh_navigation_links a,
.wh_navigation_links a:hover,
.wh_navigation_links a:active,
.wh_navigation_links a:visited,
.wh_print_link a:before,
.wh_navigation_links a:before,
.wh_navigation_links a:hover:before,
.wh_navigation_links a:active:before,
.wh_navigation_links a:visited:before{
  color: #4D4D4D;
  text-decoration: none;
}


/*
* ------------------------------------------------------------------
*  
* Tiles
* 
*/
.wh_tile {
  border-radius: .5em;
  background-color: #eeeeee;
}
.wh_tile_shortdesc{
  margin-top:0.5em;
  text-align: center;
}
.wh_tile_title{
  font-family: Arial, sans-serif;
  text-align: center;
  font-size:1.1em;
  text-decoration: none;
}

.wh_tile_shortdesc{
  text-align: center;
}
.wh_tile_text:after{
  background: linear-gradient(to bottom, rgba(238, 238, 238, 0), rgba(238, 238, 238, 1) 50%);
}
@media only screen and (max-width: 767px) {
  .wh_tile > div{
      height: auto;
  }
}

/* 
You can style some of the tiles in a special way. 
Example:
.wh_tiles *[data-id='getting_started']{
  background-color:gray;
}
*/


/*
* ------------------------------------------------------------------
*  
* Search area
* 
*/
.wh_search_input{
 padding: 0px;
}

#searchForm {
background: white;
position: fixed;
right: 55px;
top: 25px;
z-index: 999;
width: 25%;
}


@media only screen and (min-width: 1620px) {
 #searchForm {
      max-width: 500px;
      right: calc((100% - 1530px)/2);
  }
}

@media only screen and (max-width: 767px) {
#searchForm > div {
  width: 100%;
  border: 1px solid transparent;
}

#searchForm {
  position: static;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}

.wh_search_input {
 background: transparent;
}

.wh_search_textfield {
  left: unset !important;
  margin-left: 30px;
  width: calc(950px + 100vw - 1024px) !important;
}

/*.wh_search_button {
  display: none;
}*/



.zoom_search_page .wh_search_input {
  padding-top: 0em;
}

.wh_search_page .wh_top_menu_and_indexterms_link {
  width: 100%;
}

.wh_top_menu_and_indexterms_link {
  margin-top: 1rem;
  border: none;
}

.wh_indexterms_link a::before,
.wh_print_link a,
.wh_print_link a:before,
.wh_print_link a:before,
.wh_print_link a:hover:before,
.wh_print_link a:active:before,
.wh_print_link a:visited:before {
  color: white;
}
}

.wh_welcome:not(:empty){
  font-size: 2.5em;
  margin: 0 auto;
  padding: 0 0 .5em 0;
  text-shadow: none;
  color:#040480;
}
.wh_search_textfield{
  border: solid 1px #CCC;
  border-radius: 5px;
  padding: 0 .5em;
  font-size: 1.2em;
  line-height: 2em;
  height: auto;
  width: 150%;
  left: -52%;
}

.wh_search_button{
  /*border: solid 1px #CCC;*/
  border-radius: 0 5px 5px 0;
  padding: 0.5em 2em;
  background-color: transparent;
  color: #ccc;
  border: none;
}

#searchForm > div {
width: 100%;
}

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 50px white inset;
}

input::-webkit-search-cancel-button {
  display: none;
}

/* Search autocomplete */
.ui-autocomplete {
  z-index: 200000;
}

.ui-menu-item {
  font-size: 1.4em;
}

.ui-menu-item .ui-state-active {
  background-color: #346ec5;
}

/* Search relative path */
.searchresult li .relativePath a {
  color: #006621;
}

/* Search autocomplete icons */
.search-autocomplete-proposal-type-history a,
.search-autocomplete-proposal-type-history a:hover,
.search-autocomplete-proposal-type-history a:visited,
.search-autocomplete-proposal-type-history a:active{
  text-decoration: none;
  color:inherit;
  font-size: 0.8em;
}
.ui-state-active .search-autocomplete-proposal-type-history a,
.ui-state-active .search-autocomplete-proposal-type-history a:hover,
.ui-state-active .search-autocomplete-proposal-type-history a:visited,
.ui-state-active .search-autocomplete-proposal-type-history a:active{
  color: #fff;
}


#wh-search-pagination > ul > li.active > a{
  background-color: transparent;
  color: #005776;
}


.pagination li a {
background-color: transparent;
border: none;
color: #005776;
padding: 6px 6px;
}


.pagination > li > a:hover,
.pagination > .active > a:hover {
background-color: transparent;
color: #0e8fbc;
}

.pagination > .active > a,
.pagination > .active > span {
background-color: transparent;
color: #00aae6;
outline: none;
}


.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
background-color: transparent;
}

.pagination li a:hover {
background-color: transparent;
color: #0e8fbc;
}

.pagination > .active > a {
background-color: transparent;
border: none;
text-decoration: underline;
color: #00aae6;
}

.pagination > .disabled > a,
.pagination > .disabled > a:hover {
background-color: transparent;
}

.page-link {
  border: none;
}

.page-link:focus {
  box-shadow: unset !important;
}

/*
* ------------------------------------------------------------------
*  
* Publication TOC
* 
*/

#wh_publication_toc_content {
border-radius: 8px;
border: 1px solid #4D4D4D;
overflow: hidden;
}

.wh_publication_toc{
background-color: white;
padding: 14px 12px 20px 12px;
}

.wh_publication_toc .active > .topicref a {
color: #4D4D4D;
font-weight: bold;
}

.wh_publication_toc span, .wh_publication_toc a, .wh_publication_toc a:visited, .wh_publication_toc a:hover {
color: #4D4D4D;
}

.wh_publication_toc a:hover {
  text-decoration: underline;
}

.close-toc-button {
  background-color: #245A73;
}

.close-toc-icon {
  border: 1px solid white;
}

.close-toc-button:hover {
  background-color: #30789A;
}

@media only screen and (max-width: 767px) {
  .wh_publication_toc {
      border-radius: 0;
      padding: 1em 0.5em;
      margin-top: 10px;
      border: none;
  }
}

/*
* ------------------------------------------------------------------
*  
* Tooltips
* 
*/

.wh_breadcrumb .topicref .wh-tooltip,
.wh-toc-tooltip
{
 background-color: #005776 !important;
}

[data-tooltip-position="left"] .topicref .wh-tooltip::before,
[data-tooltip-position="left"] .wh-toc-tooltip::before {
    border-left-color: #005776 !important;
}

[data-tooltip-position="right"] .topicref .wh-tooltip::before,
[data-tooltip-position="right"] .wh-toc-tooltip::before {
    border-right-color: #005776 !important;
}

[data-tooltip-position="bottom"] .topicref .wh-tooltip::before,
[data-tooltip-position="bottom"] .wh-toc-tooltip::before {
    border-bottom-color:#005776 !important;
}

[data-tooltip-position="top"] .topicref .wh-tooltip::before,
[data-tooltip-position="top"] .wh-toc-tooltip::before {
    border-top-color: #005776 !important;
}

/*
* ------------------------------------------------------------------
*  
* Topic TOC
* 
*/

.wh_topic_toc {
  position: fixed;
  overflow-y: auto;
  height: 60%;
  border-left: none !important;
  width: inherit;
}

#wh_topic_toc ul li {
  padding-right: 3px;
}

.current_node {
  text-decoration: none;
}

.wh_topic_label {
  text-transform: uppercase;
}

.wh_topic_label::after {
  display: none;
}


/*
* ------------------------------------------------------------------
*  
* Footer
* 
*/


.wh_footer {
text-align: center;
background-color: white;
border-top: 1px solid #A2A9AF;
color: #4D4D4D;
background-image: none;
font-size: 12px;
margin-top: 2em;
}

.wh_footer a {
color: #4D4D4D;
text-decoration: underline !important;
}

.wh_footer a:hover {
cursor: pointer;
color: #005776 !important;
text-decoration: underline;
}

.footer-container {
margin: auto;
}

/*Add a line break to the footer to keep the links together on smaller screens*/
@media only screen and (max-width: 680px) {
body > nav > div > div > p > a:nth-child(1)::before {
  content: "\a";
  white-space: pre;
}
}


/*Dark mode toggle button*/

.darkModeToggle {
position: relative;
}

.darkModeToggle input {
position: absolute;
opacity: 0;
width: 0;
height: 0;
}

.darkModeToggle .onoff {
  display: inline-block;
  font-size: 18px;
  margin-left: 4px;
}

.slider {
position: relative;
display: block;
cursor: pointer;
width: 40px;
height: 20px;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #cccccc;
}

.slider:before {
position: absolute;
content: "";
height: 15px;
width: 15px;
left: 2px;
bottom: 2.5px;
background-color: white;
}

.slider.slider-transition::before {
-webkit-transition: .4s;
 transition: .4s;
}

input:checked + .slider {
background-color: #005776;
}

input:checked + .slider:before {
-webkit-transform: translateX(21px);
-ms-transform: translateX(21px);
transform: translateX(21px);
}

.slider.round {
border-radius: 34px;
margin-left: 7.5px;
}

.slider.round:before {
border-radius: 50%;
}


/*
* ------------------------------------------------------------------
*  
* Topic content
* 
*/

.wh_topic_content,
.wh_content_area {
  color: #4D4D4D;
  line-height: 1.4em;
  margin-bottom: unset;
}

@media only screen and (min-width: 767px) {
  .wh_content_area {
      padding-left: 2em;
      padding-right: 2em;
  }
}

@media only screen and (max-width: 767px) {
  .wh_topic_content {
      padding-left: 20px !important;
      padding-right: 20px !important
  }
}

.wh_topic_content .shortdesc {
margin-bottom: 24px;
}

.wh_expand_btn {
  display: none;
}

.permalink {
  display: none;
}

/*
* ------------------------------------------------------------------
*
* Links
*
*/

.related-links li {
padding-top: 5px;
padding-bottom: 13px;
}

.linklist > .linklist {
padding-top: 0px;
padding-bottom: 0px;
}

.related-links strong {
padding-top: 8px;
padding-bottom: 6px;
}

.related-links .linklist strong {
font-weight: bold;
}

.related-links .related_link {
padding-top: 3px;
padding-bottom: 0px;
}

.related-links a {
color: #005776 !important;
}

.related-links a:visited {
color: #408199;
}

.ulchildlink strong {
  font-weight: 500;
}

a {
color: #005776;
}

.wh_topic_content a {
color: #005776;
}

a:hover{
text-decoration: underline;
color: #005776;
cursor: pointer;
}

.wh_related_links .related-links,
.wh_topic_content .related-links,
.wh_child_links {
margin-top: 1em;
background-color: transparent;
border-top: none;
}

.wh_related_links {
padding-left: 0px !important;
margin-top: 0em;
border-top: none;
}

.wh_child_links {
padding-left: 0px;
padding-top: 0px;
margin-top: 0px;
}

.wh_topic_content .related-links {
font-size: 1em;
}

.model_link,
.model_link .filepath,
.model_link .filepath .keyword,
.sli .model_link:visited {
color: #005776 !important;
}

@media only screen and (max-width: 767px) {
.related-links {
  border-bottom: none;
  margin-bottom: 0;
}

.wh_child_links {
  border: none;
}
}

.version-selector {
font-family: "NotoSans-Regular", Arial, sans-serif;
padding: 2px;
color: #23343e;
}

.version-selector option:checked {
color: #4D4D4D;
font-weight: 700;
}

/* Used with topic.js to prevent content references from getting stuck behind the header*/
.scrollMargin {
scroll-margin-top: 130px;
}



/*
* Home page links
*/

.more_resources_container {
display: flex;
flex-wrap: wrap;
}

.more_resources_button {
width: 400px;
background-color: #245A73;
display: table;
margin-right: 25px;
margin-bottom: 16px;
height: 80px;
border-radius: 8px;
}

.more_resources_button > a {
color: white;
display: table-cell;
position: relative;
vertical-align: middle;
text-decoration: none;
cursor: pointer;
font-size: 16px;
}


.more_resources_button > a:after {
content: "→";
float: right;
margin-right: 25px;
font-size: 20px;
}

.more_resources_button > a:before {
content: "";
display: inline-flex;
background-repeat: no-repeat;
filter: invert(100%);
margin-right: 15px;
margin-left: 25px;
height: 20px;
width: 16px;
vertical-align: middle;
}

.more_resources_button > a:hover {
text-decoration: underline;
color: white;
}

@media only screen and (max-width: 767px) {
  .more_resources_title {
      text-align: center;
  }

  .more_resources_container {
      justify-content: center;
  }

  .more_resources_button {
      margin-right: 0px;
  }

  .more_resources_button > a {
      text-align: center;
  }

  .more_resources_button a:after,
  .more_resources_button a:before {
      display: none;
  }

  .index_title {
      font-size: 46px !important;
  }
}



/*
* ------------------------------------------------------------------
*  
* Search results.
* 
*/
.searchresult {
  list-style: none;
}

.searchresult li a {
  color:#005776 !important;
}
.searchresult .shortdesclink {
  margin: .3em .5em 0 0;
}
.wh_search_expression{
  font-weight:bold;
}


/*
* ------------------------------------------------------------------
*  
* Index terms.
* 
*/
.wh_index_terms span.wh_first_letter {
  color: #4D4D4D;
  padding: 10px;
}
.wh_index_terms #indexList{
  padding: 0px;
}

.wh-letters {
  background-color: white;
  margin-top: 0px;
}



/*
* ------------------------------------------------------------------
*  
* Modal Container
* 
*/

#offline-modal-container {
position: fixed;
left: 0;
top: 0;
width: 100vw;
height: 100vh;
display: none;
z-index: 999999;
}

#offline-modal {
position: absolute;
display: block;
width: 17%;
min-width: 220px;
max-width: 220px;
min-height: 130px;
max-height: 140px;
top: 30%;
left: 50%;
transform: translateX(-50%);
border: 1px solid grey;
background-color: #fff;
border-radius: 18px;
justify-items: center;
color: #000;
font-size: 12px;
font-weight: 700;
}

#modal-text {
display: block;
text-align: center;
padding-top: 10%;
padding-bottom: 3%;
padding-left: 5%;
padding-right: 5%;
}

#modal-button-container {
display: flex;
justify-content: center;
margin-top: 3%;
/* margin-top: 9%; */
}

#modal-button-container button {
border-radius: 18px;
height: 35px;
margin: 10px;
margin-bottom: 10px;
border: 1px solid #005776;
background-color: #005776;
color: #fff;
font-weight: 500;
}

#modal-button-container button:hover {
background-color: #005776;
}

#modal-close-button {
float: right;
margin-top: 0.2rem;
margin-right: 0.3rem;
transform: translateX(-0.3rem);
width: 1.4rem;
height: 1rem;
line-height: 1.3rem;
text-align: center;
cursor: pointer;
border-radius: 18px;
background-color: transparent;
color: #000;
}

#close-button-icon {
width: 18px;
}

#overlay {
display: none;
position: fixed;
background-color: rgba(0, 0, 0, 0.3);
top: 0;
left: 0;
bottom: 0;
right: 0;
z-index: 50000;
}

@media only screen and (max-height: 250px) {
#offline-modal {
  top: 50%;
  transform: translate(-50%, -50%);
  /* left: 50%;
     transform: translateX(-50%); */
}
}

/*
* ------------------------------------------------------------------
*
* User Interface Elements
*
*/

/*menucascade*/
abbr[title] {
border-bottom: none;
padding-left: 3px;
padding-right: 3px;
}

/*
* ------------------------------------------------------------------
*
* Programming Elements
*
*/
.codeblock code {
font-family: consolas, "Courier New";
white-space: pre-wrap;
padding: 0px;
}

.codeph {
background-color: transparent;
font-family: consolas, "Courier New";
color: #4D4D4D;
}

a .codeph {
color: inherit;
}

code {
  background-color: #eee;
  color: #4D4D4D;
  padding: 2px 4px;
  font-size: 90%;
  border-radius: 4px
}

.numcharref,.parameterentity,.textentity,.xmlatt,.xmlelement,.xmlnsname,.xmlpi {
  color: #4D4D4D;
}

/*
* ------------------------------------------------------------------
*
* Software Elements
*
*/
/*userinput*/
kbd {
background-color: transparent;
color: #1d2e38;
box-shadow: inset 0 -0.8px 0 #1d2e38;
font-family: consolas, "Courier New";
}

.cmdname {
font-family: consolas, "Courier New";
}

.varname {
font-family: consolas, "Courier New";
font-style: italic;
}

.filepath {
font-family: consolas, "Courier New";
color: #1d2e38;
}


/*
* ------------------------------------------------------------------
*
*Equations and MathML Elements
*
*/

math {
font-weight: bold;
}

.wh_topic_content {
counter-reset: eqn-number;
}

.equation-number {
counter-increment: eqn-number;
position: absolute;
right: 0;
}

.equation-number::before {
content: "(" counter(eqn-number) ")";
font-style: italic;
}

.eqn-block,
.equation-figure {
display: flex;
flex-direction: row;
justify-content: start;
padding-top: 0.5em;
padding-bottom: 0.5em;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 3em;
max-width: 53vw;
overflow: auto;
}

.equation-number {
order: 1;
}

@media only screen and (max-width: 767px) {
.equation-number {
    right: 20px;
}
.eqn-block {
    max-width: 73vw;
}
}

/* .eqn-inline {
font-family: "Times New Roman";
font-style: italic;
} */

/*Start: Equation Styles*/
/*Esti will be removing these styles once she has integrated her equation plguin*/

/*Start: Equation Styles*/

/* .eqn-inline {
font-style: italic;
}

.eqn-inline .MJXc-display {
display: inline;
}

.eqn-inline math {
display: inline;
}

span.eqcap {
visibility: hidden;
display: flex;
flex-direction: row-reverse;
align-items: right;
}

.eq--title-label {
visibility: visible;
font-style: italic;
margin-right: 0.1em;
}

.equation-figure {
display: flex;
flex-direction: column;
padding-top: 0.5em;
padding-bottom: 0.5em;
margin-top: 0px;
margin-bottom: 0px;
padding-left: 3em;
}

div.equation-figure,
img.equation-figure {
display: inline-block;
float: left;
padding-left: 3em;
}

.equation-figure .figcap {
display: inline-block;
float: right;
padding-right: 4em;
}

equation-figure > .eqn-block {
margin-left: 0em;
}

math[display="block"] {
text-align: left;
}

equation-block {
align-self: center;
}

.eqn-block {
display: flex;
flex-direction: row;
justify-content: normal;
margin-left: 3em;
}

.eqcap + .eqn-block {
margin-top: -1em;
}

.equation-number {
order: 1;
}

equation-figure > div:not(.equation-block) > span {
display: flex;
align-items: row;
}

equation-figure > img {
width: auto;
object-fit: none;
align-self: flex-start;
}

equation-figure .MJXc-display {
display: flex;
align-self: flex-start;
}

mjx-container[jax="CHTML"][display="true"] {
display: inline !important;
}

mjx-container[jax="CHTML"][display="true"] {
text-align: left !important;
} */

/*
* ------------------------------------------------------------------
*
*Task Elements
*
*/
.step {
margin-bottom: 6px;
margin-top: 0em;
}

.info figure {
padding-top: 0px;
}

span.cmd {
padding-top: 4px;
}

.info {
padding-top: 4px;
}

.choices {
padding-top: 4px;
}

.stepresult {
padding-top: 4px;
}

/*Start: Automatic tutorial numbering*/
/*When the class .tut is assigned to the body element of the main tutorial topic, h2 and h3 will be numbered*/
body {
counter-reset: section;
}

.tut h2 {
counter-reset: subsection;
}

.tut h2:not(.skip):before {
counter-increment: section;
content: "Step " counter(section) ". ";
}

.tut h3:not(.skip):before {
counter-increment: subsection;
content: counter(section) "." counter(subsection) " ";
}

.tut h2.skip:before,
.tut h3.skip:before {
content: "";
}

/*
* ------------------------------------------------------------------
*
*Body Elements
*
*/
/*dl with no outputclass*/
dt {
padding-bottom: 5px;
}

.dlentry {
padding-bottom: 7px;
}

.ddexpand {
margin-top: 0px;
}

/*dl w/ outputclass= table styles */
dl.table > .dlentry,
.dlhead {
display: table-row;
}

dl.table dt {
display: table-cell;
padding-top: 10px;
width: 125px;
}

/*dl.table .dlentry:first-of-type dt {padding-top: 0px;}*/

dl.table dd {
display: table-cell;
padding-left: 3em;
padding-bottom: 5px;
}

dl.table .dthd {
display: table-cell;
font-weight: bold;
}

dl.table .ddhd {
display: table-cell;
padding-left: 3em;
font-weight: bold;
text-decoration: none;
}

dl.table {
width: 90%;
}

.dt_desc {
font-weight: normal;
}

.table dl.table {
background-color: transparent;
}

/*Tables with Titles*/

.table {
width: 100%;
color: #4D4D4D;
}

.table .thead tr th,
.choicetable thead tr th {
border: 1px solid #cfcfcf !important;
background-color: #f4f4f4;
}

.table > colgroup + thead > tr:first-child > th {
border-color: #cfcfcf;
}

table,
.choicetable {
border: 1px solid #cfcfcf;
margin-top: 10px;
}

.shortdesc + table {
margin-top: 0px;
}

.table .tbody tr td,
.choicetable tbody tr .stentry {
background-color: white;
border: 1px solid #cfcfcf !important;
vertical-align: top;
height: 2.5em;
}

.tbody tr:hover td,
.choicetable tbody .strow:hover .stentry {
background-color: #f3e4b6;
}

.simpletable tbody tr td,
.simpletable thead tr th {
border: none !important;
}

.choicetable thead tr th {
border: 1px solid #cfcfcf !important;
}

.simpletable {
display: inline-block;
border: none !important;
}

.table .tbody tr td .simpletable tbody tr td {
border: none !important;
}

.simpletable-container {
overflow: unset;
}

/*Creates a table with fixed headers as you scroll - use outputclass tableFixed*/

.tableFixed .table-container {
overflow-y: auto;
height: 500px;
}

.tableFixed table {
margin-bottom: 0px;
margin-top: 0px;
}

.tableFixed .table .thead tr th {
border: hidden !important;
}

.tableFixed thead {
position: sticky;
top: 0;
z-index: 1;
}

.tableFixed thead th {
box-shadow: inset 0px 1px #cfcfcf, inset 0 -1px #cfcfcf, inset 1px 0 #cfcfcf,
  inset -1px 0 #cfcfcf;
}

/*Unset default rotate behavior in HTML - outputclass is PDF only*/
.pdf_rotate_height_30mm,
.pdf_rotate_height_35mm,
.pdf_rotate_height_40mm {
writing-mode: unset !important;
}

/*Lists*/
.wh_topic_content li {
padding-bottom: 6px;
}

ol,
ul {
margin-top: 6px;
}

/*Start: ordered list with @outputclass="letter"*/
ol.letter {
list-style-type: lower-latin;
}

/*Ordered list with @outputclass="roman"*/
ol.roman {
list-style-type: lower-roman;
}

/*Figures and Images*/

figure img {
border: 1px solid #85898d;
}

/* add outputclass "no_border" to any img that you don't want the border added to */
img.no_border {
border: 0;
}

/* add outputclass "add_border" to any img with "icon" or "dialog" in the name that you want to add a border to*/
img.add_border {
border: 1px solid #85898d !important;
}


/* add outputclass "padding_svg" */
img.padding_svg {
padding: 10px;
}

/* img {
pointer-events: none;
} */

img.image:not(img[usemap]) {
border-radius: 5px;
}

.imagemap img {
pointer-events: auto;
}

img[src*="icon_"] {
border: 0;
}

img[src*="dialog_"] {
border: 0;
}


.figcap,
.figcapright,
.figcapcenter {
font-size: 11px;
font-style: italic;
}

.figcap + div {
padding-top: 1px;
}

.figdesc {
display: block;
margin-bottom: 3px;
margin-top: 3px;
font-size: 11px;
font-style: italic;
color: #4D4D4D;
}

figure {
padding-bottom: 15px;
padding-top: 6px;
}

figure div br {
display: none;
}

.fig--title-label-number,
.fig--title-label-punctuation {
  display: unset;
}

.fig--title-label:after {
  content: "";
}

.figdesc + br {
display: none;
}

table[id] .tablecap::after {
background-image: none;
}

.tablecap {
font-size: 11px;
font-style: italic;
color: #1d2e38;
}

td ol {
padding-left: 15px;
}

td .sl {
padding-left: initial;
}

.wh_topic_content,
.wh_related_links,
.wh_child_links,
.header .wh_header > .container-fluid {
padding-left: 25px;
border: none;
}

/*Footer Pages*/
#footerpgs #wh_publication_toc,
#footerpgs .wh_header,
#footerpgs .wh_footer,
#footerpgs .contentarea + div,
#footerpgs .wh_navigation_links,
#footerpgs .contentbody .wrapper .min {
display: none;
}

#footerpgs .contentbody {
width: 100%;
}

#footerpgs .content_spacer {
height: 20px;
}

#footerpgs #go2top {
display: none !important;
}

/*Link icon for headings*/
.dt[id]::after,
.section[id] .sectiontitle::after,
.title.topictitle2[id]::after,
table[id] .tablecap::after {
display: none;
}

/*Print Styles*/
@media print {
/**
 * Hide header and footer
 */
.nav,
.navheader,
.footer,
.navfooter,
#searchForm,
.wh_search_input {
  display: none !important;
}

/**
 * Remove shadows when printing.
 */
* {
  text-shadow: none !important;
}

a[href]:after {
  content: none !important;
}

.contentarea {
  width: 8in !important;
  position: static !important;
}

figure,
tr,
li {
  page-break-inside: avoid !important;
}

.wh_related_links {
  page-break-inside: avoid !important;
}

h2,
h3,
h4,
h5 {
  page-break-after: avoid !important;
}

table {
  max-width: 7in !important;
}

.img {
  max-width: 100% !important;
}

.wh_header {
  display: block !important;
  border: none !important;
  position: relative !important;
  width: 40% !important;
  margin-bottom: 0cm !important;
  padding-bottom: 0cm !important;
  margin-left: 0cm !important;
  padding-left: 0.8cm !important;
  height: 28pt !important;
}

#toc,
.wh_navigation_links,
#go2top,
.content_spacer,
.wh_header_flex_container,
.nav_tools,
button {
  display: none !important;
}

thead {
  display: table-row-group !important;
}

pre {
  overflow: visible !important;
}

pre code {
  white-space: pre !important;
  font-size: 10px !important;
}
}

@page {
margin: 1.5cm 1cm 2cm 0.5cm !important;
}

/*Start: FN Xref Styles*/

a[href*="fn"] sup {
font-size: 12px;
}

a[href*="fn"] > sup > sup {
top: 0em;
}

a[href*="fn"] > sup:before {
content: "[";
position: relative;
}


a[href*="fn"] > sup:after {
content: "]";
position: relative;

}

.fn > a[href*="fn"] > sup:before {
content: none;
}


a[href*="fn"] {
padding-right: 5px;
scroll-margin-top: 100px;
}

/*Start: Footnote Styles*/

.fn {
display: table-row;
}

.fnNumber {
padding-right: 3px;
display: table-cell;
line-height: 1.618;
font-size: 1em;
font-family: "NotoSans", sans-serif;
}

.fnNumber:after {
content: ".";
}

.fnDesc {
display: table-cell;
padding-bottom: 8px;
}

/*Videos*/
.embed-responsive-item,
.embed-responsive-item embed,
.embed-responsive-item iframe,
.embed-responsive-item object,
.embed-responsive-item video {
  width: 100%;
  height: 100%;
}


/*Start: Outputclass for Advanced short descriptions*/

.ulchildlink .adv_sd {
display: none;
}

.body .shortdesc .adv_sd {
font-weight: bold;
display: block;
padding-bottom: 10px;
}

/* Start language-feko-lua outputclass styles */

.language-feko-lua {
background-color: #fffff0;
}

/*Special programming element styles for Acu products*/
body.acu .parmname {
font-family: consolas, "Courier New";
font-weight: normal;
}

body.acu .option {
font-family: consolas, "Courier New";
}

/*Special programming element styles for RADIOSS*/
body.rad .varname {
font-style: normal;
}

.blockvar {
display: block;
}

/* Start TCL outputclass styles */

.tcl_cmd {
color: green;
font-family: consolas, "Courier New";
}

.tcl_output {
color: blue;
display: block;
}

/* End Filepath w/outputlcass styles */

.userinput {
background-color: transparent;
color: #1d2e38;
}

.cmdname {
font-family: consolas, "Courier New";
}

/* Start Filepath w/outputlcass styles */

.filepath.file_required {
font-family: consolas, "Courier New";
font-weight: bold;
}

.filepath.file_emphasis {
font-family: consolas, "Courier New";
font-style: italic;
}

.filepath,
span.filepath {
font-family: consolas, "Courier New";
}

/*MotionSolve Outputclasses*/
.Blue {
color: #0000ff;
}

.Maroon {
color: #800000;
}

.Safety {
color: #ff6600;
}

.Pink {
color: #ff0188;
}

.Green {
color: green;
font-style: italic;
}

.Green_noitalics {
color: green;
font-style: normal;
}

.Highlight {
background-color: yellow;
}

.Highlight code {
  background-color: transparent;
}

.Navy {
color: #000080;
}

.Dark {
color: #006400;
}

.red,
.Red {
color: red;
}

.Purple {
color: purple;
}

.helpHome {
padding-bottom: 12px;
padding-top: 12px;
border-top: 1px solid;
}

.helpHome p {
text-align: center;
margin-bottom: 0px;
font-family: "NotoSans-Regular", Arial, sans-serif;
}

.wh_main_page .helpHome a:visited,
.wh_main_page .helpHome a:hover {
color: #ffffff !important;
text-decoration: none;
}

.wh_main_page .helpHome {
border: none;
height: 2rem;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 32px;
padding-right: 32px;
display: table;
margin-left: auto;
margin-right: auto;
border-radius: 1rem;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
/* IE10+ CSS styles go here */
.wh_main_page .helpHome {
  margin-left: 40%;
  margin-right: 0px;
}
}

.wh_main_page .helpHome p a {
color: #ffffff;
font-size: 0.75rem;
}

.wh_main_page .helpHome p::before {
color: #ffffff;
vertical-align: -10%;
}

dt .image {
max-width: none;
}

.image {
max-width: 100%;
}

.arrow {
vertical-align: middle !important;
}

dt br {
display: none;
}

section[id^="ch_tutorials__video"] {
margin-right: 20%;
}


/*
* Sections
*/
.h3section {
margin-top: 2.5em;
}

h1 + .body .sectiontitle {
border-top: 1px solid #828282;
padding-top: 30px;
margin-top: 30px;
}

.example {
margin-top: 2.5em;
}

#comments {
border: none;
}

.sectiondivTitle {
font-weight: bold;
}

/*
* Paragraphs
*/
.wh_topic_content p,
.wh_topic_content .p {
margin-top: 0.5em;
}

/*Note Sections*/
.cautiontitle {
margin-top: 6px;
}

.capitalize {
text-transform: capitalize;
}
a
.note {
padding-right: 1.5em !important;
margin-right: 1.5em !important;
}

.restrictiontitle,
div[class="restriction"]>h3 {
  background-image:url("../img/restriction.svg") !important;
  background-repeat:no-repeat;
  padding:4px 4px 4px 23px;
}

/*Scrollbars*/

/*Chrome and Edge*/
::-webkit-scrollbar {
width: 6px;
height: 6px;
}

::-webkit-scrollbar-track {
background-color: #e3e3e3;
}

::-webkit-scrollbar-thumb {
background-color: #888; 
border-radius: 8px;
}


/* Dark Theme Colors */
:root{
   --dark-theme-off-white: #F4F4F4;
   --dark-theme-light-grey: #8A8A8A;
   --dark-theme-grey: #353535;
   --dark-theme-medium-grey: #242424;
   --dark-theme-dark-grey: #121212;
}

/*Dark theme styles*/

/*Main pages*/
body.dark-theme {
  background-color: var(--dark-theme-dark-grey);
}

body.dark-theme .wh_topic_content {
  color: var(--dark-theme-off-white);
}

body.dark-theme .wh_content_area {
  color: var(--dark-theme-off-white);
}

body.dark-theme .topictitle1,
body.dark-theme .topictitle2,
body.dark-theme .topictitle3,
body.dark-theme .topictitle4,
body.dark-theme .topictitle5,
body.dark-theme .topictitle6,
body.dark-theme .sectiontitle {
  color: var(--dark-theme-off-white) !important;
}

body.dark-theme .more_resources_title {
  color: var(--dark-theme-off-white);
}

body.dark-theme .more_resources_button > a {
  color: var(--dark-theme-off-white);
}

/*Links*/
body.dark-theme a {
 color: #58a6ff;
}

body.dark-theme a .filepath {
 color: #58a6ff !important;
}

body.dark-theme .related-links a{
 color: #58a6ff !important;
}

body.dark-theme .model_link,
body.dark-theme .model_link .filepath,
body.dark-theme .model_link .filepath .keyword,
body.dark-theme .sli .model_link:visited {
 color: #58a6ff !important;
}

body.dark-theme .wh_footer a:hover {
 color: #58a6ff !important;
}

/*TOC*/
body.dark-theme #wh_publication_toc_content {
  border: 1px solid var(--dark-theme-off-white);
}

body.dark-theme .wh_publication_toc {
  background-color: var(--dark-theme-dark-grey);
}

body.dark-theme #toc-icon-left {
border: solid var(--dark-theme-off-white);
border-width: 0 3px 3px 0;
}

body.dark-theme #toc-icon-right {
border: solid var(--dark-theme-off-white);
border-width: 0 3px 3px 0;
}

body.dark-theme #toc-collapse-text {
color: var(--dark-theme-off-white);
}

body.dark-theme .wh_publication_toc .active > .topicref a {
color: var(--dark-theme-off-white);
}

body.dark-theme .wh_publication_toc span, 
body.dark-theme .wh_publication_toc a, 
body.dark-theme .wh_publication_toc a:visited, 
body.dark-theme .wh_publication_toc a:hover {
color: var(--dark-theme-off-white);
}

body.dark-theme .close-toc-button {
  background-color: #58a6ff;
}

/*On this page TOC*/
body.dark-theme nav#wh_topic_toc {
  background-color: var(--dark-theme-dark-grey);
}


/*Header*/
body.dark-theme .wh_header {
background: var(--dark-theme-dark-grey);
color: var(--dark-theme-off-white);
}

body.dark-theme .wh_indexterms_link a::before {
  color: var(--dark-theme-off-white);
}

body.dark-theme .active_header {
-webkit-box-shadow: 0 8px 6px -6px rgba(0,87,118,0.4);
      -moz-box-shadow: 0 8px 6px -6px rgba(0,87,118,0.4);
          box-shadow: 0 8px 6px -6px rgba(0,87,118,0.4);
}

body.dark-theme .wh_tools {
  background-color: var(--dark-theme-dark-grey);
}

body.dark-theme .wh_breadcrumb ol,
body.dark-theme .wh_breadcrumb ol a
{  
color: var(--dark-theme-off-white);
background-color: var(--dark-theme-dark-grey);
}

body.dark-theme .wh_print_link button {
  color: var(--dark-theme-off-white);
}

body.dark-theme .wh_navigation_links a {
  color: var(--dark-theme-off-white);
}

body.dark-theme .wh_navigation_links a:hover,
body.dark-theme .wh_navigation_links a:active,
body.dark-theme .wh_navigation_links a:visited {
  color: var(--dark-theme-off-white) !important;
}

body.dark-theme .navprev a::before,
body.dark-theme .navnext a::after {
  color: var(--dark-theme-off-white) !important;
}

body.dark-theme .navprev a::after,
body.dark-theme .navnext a::before {
  color: var(--dark-theme-off-white) !important;
}

/*Search bar*/
body.dark-theme .wh_search_textfield::placeholder {
color: var(--dark-theme-off-white) !important; 
}

body.dark-theme .wh_search_textfield {
  background-color: var(--dark-theme-dark-grey) !important;
  border-color: var(--dark-theme-light-grey) !important;
}

body.dark-theme .wh_search_button:after {
  color: var(--dark-theme-off-white) !important;
}

body.dark-theme #textToSearch {
  color: var(--dark-theme-off-white) !important;
}

body.dark-theme .wh_search_input,
body.dark-theme #searchForm {
  background: transparent;
}

/*Turns off defult auto-fill coloring in Chrome*/
input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: #8b8b8b;
}

body.dark-theme.wh_main_page input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: #8b8b8b;
}

body.dark-theme.wh_topic_page input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 50px var(--dark-theme-dark-grey) inset;
  -webkit-text-fill-color: var(--dark-theme-off-white);
}


/*Footer*/
body.dark-theme .wh_footer {
  background-color: var(--dark-theme-dark-grey);
  color: var(--dark-theme-off-white);
}

body.dark-theme .wh_footer a {
  color: var(--dark-theme-off-white);
}

/*Index page*/

body.dark-theme .wh_index_terms li.wh_term {
  color: var(--dark-theme-off-white);
}

body.dark-theme .wh_index_terms span.wh_first_letter {
  color: var(--dark-theme-off-white);
}

body.dark-theme .wh-letters {
  background-color: var(--dark-theme-dark-grey);
}

body.dark-theme .wh_index_terms .wh_first_letter{
  border-bottom: 1px solid var(--dark-theme-off-white);
}

/* Tags */

body.dark-theme .filepath {
  color: #969696 !important;
} 


body.dark-theme .userinput {
  color: var(--dark-theme-off-white);
}

body.dark-theme kbd {
  box-shadow: inset 0 -0.8px 0 var(--dark-theme-off-white);
}

body.dark-theme .figdesc {
  color: var(--dark-theme-off-white);
}

body.dark-theme .codeph {
  color: var(--dark-theme-off-white);
}

body.dark-theme code.Highlight {
  color: var(--dark-theme-dark-grey) !important;
}


/*Icons/Images*/

body.dark-theme .image {
  background: white;
  opacity: 85%;
}

body.dark-theme .wh_logo img[src*="hw"],
body.dark-theme .wh_logo img[src*="matrix"],
body.dark-theme .wh_logo img[src*="st"]
{
  filter: brightness(0) invert(1) !important;
}

/*Tables*/

body.dark-theme .table {
  color: var(--dark-theme-off-white);
}

body.dark-theme .table .thead tr th,
body.dark-theme .choicetable thead tr th {
  border: 1px solid var(--dark-theme-light-grey);
  background-color: var(--dark-theme-medium-grey);
  color: var(--dark-theme-off-white);
}

body.dark-theme .table .tbody tr td,
body.dark-theme .choicetable tbody tr .stentry {
  background-color: var(--dark-theme-dark-grey);
  border: 1px solid var(--dark-theme-light-grey) !important;
  color: var(--dark-theme-off-white);
}

body.dark-theme .tbody tr:hover td,
body.dark-theme .tbody tr:hover .table,
body.dark-theme .choicetable tbody .strow:hover .stentry  {
  background-color: rgb(32, 32, 32);
}

body.dark-theme .tablecap {
  color: var(--dark-theme-off-white);
}

body.dark-theme .table .table {
  background-color: var(--dark-theme-dark-grey);
}

/*Reduced width*/
@media only screen and (max-width: 767px) {
  body.dark-theme .breadcrumb-sticky {
      background-color: var(--dark-theme-dark-grey);
  }
}

/*Oxygen Search - Results Title*/
body.dark-theme .wh_search_page .wh_search_expression {
  color: var(--dark-theme-off-white)
}

body.dark-theme .wh_search_page .wh_search_results_header {
  order-bottom: transparent !important;
}

/*Oxygen Search - .pagination*/
body.dark-theme .wh_search_page .pagination a,
body.dark-theme .wh_search_page .pagination a:hover {
  background-color: transparent;
}

body.dark-theme .page-item.disabled .page-link {
  background-color: transparent;
}

body.dark-theme .search-breadcrumb li .title:after {
  border-left-color: #242425;
}

body.dark-theme .search-breadcrumb li .title:before {
  border-color: #242425;
  border-left-color: transparent;
}

body.dark-theme .search-breadcrumb li a {
  background: #242425;
}

body.dark-theme #wh-search-pagination > ul > li.active > a,
body.dark-theme .searchresult li a {
 color: #58a6ff !important;

}

/*Modal*/
body.dark-theme #offline-modal {
background-color: var(--dark-theme-dark-grey);
color: var(--dark-theme-off-white);

}
body.dark-theme #modal-close-button {
filter: invert(89%) sepia(64%) saturate(7052%) hue-rotate(184deg) brightness(123%) contrast(91%);
}

/*Font weight*/
body.dark-theme .uicontrol,
body.dark-theme .wintitle,
body.dark-theme .current_node,
body.dark-theme .wh_breadcrumb ol .active,
body.dark-theme .wh_publication_toc .active > .topicref a,
body.dark-theme .sectiontitle,
body.dark-theme .dlterm,
body.dark-theme div.note>span.note__title,
body.dark-theme .wh_topic_content .title.topictitle1,
body.dark-theme .topictitle2,
body.dark-theme .topictitle3,
body.dark-theme .topictitle4,
body.dark-theme .topictitle5,
body.dark-theme .topictitle6,
body.dark-theme .parmname,
body.dark-theme .kwd,
body.dark-theme .firstcol,
body.dark-theme .wh_index_terms .wh_first_letter,
body.dark-theme .more_resources_title,
body.dark-theme .wh_search_expression,
body.dark-theme .search-shortdescription-highlight,
body.dark-theme th {
font-weight: 900 !important;
}







